# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Build artifacts
dist/
build/

# Docker
Dockerfile
docker-compose.yml

# OS
.DS_Store
